<!-- facebook ini stuff -->
<div id="fb-root">
</div>
<script src="http://connect.facebook.net/en_US/all.js"></script>
<script>
    FB.init({
        appId: '180536345323674', cookie: true,
        status: true, xfbml: true
    });
</script>

    <script>

        // fetch the status on load
        FB.getLoginStatus(handleSessionResponse);

        // no user, clear display
        function clearUserInfo() {
            $('#user-info').hide('fast');
            $('#fb-login-button').show('fast');
        }


        function clearLogin() {
            $('#fb-login-button').hide('fast');
        }

        // handle a session response from any of the auth related calls
        function handleSessionResponse(response) {

            // if we dont have a session, just show SIGN IN | SIGN UP
            //using login button for now
            if (!response.session) {
                clearDisplay();
                return;
            }

            // if we have a session, query for the user's name
            FB.api(
          {
              method: 'fql.query',
              query: 'SELECT name FROM profile WHERE id=' + FB.getSession().uid
          },
          function (response) {
              var user = response[0];
              $('#user-info').html('signed in as ' + user.name).show('fast');
              clearLogin();
          }
        );
        }
    </script>


<!-- facebook ini stuff end -->

<!-- in dev using host name wesolver.org for testing registration -->
<div id="user-info"></div>
<div id="fb-login-button">
    <fb:login-button registration-url="http://wesolver.org/WeSolver.WebHost/registration">Login with Facebook</fb:login-button><p>requires host entry for wesolver.org</p>
</div>